{% extends 'base.html' %}
{% block content %}
<h3>Detalle Asset</h3>
<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Nombre</dt><dd class="col-sm-9">{{ object.name }}</dd>
      <dt class="col-sm-3">Categoría</dt><dd class="col-sm-9">{{ object.category }}</dd>
      <dt class="col-sm-3">Criticidad</dt><dd class="col-sm-9 text-capitalize">{{ object.criticality }}</dd>
      <dt class="col-sm-3">Estado</dt><dd class="col-sm-9 text-capitalize">{{ object.status }}</dd>
      <dt class="col-sm-3">Propietario</dt><dd class="col-sm-9">{{ object.owner.username }}</dd>
      <dt class="col-sm-3">Creado</dt><dd class="col-sm-9">{{ object.created_at|date:"Y-m-d H:i" }}</dd>
    </dl>
    <a class="btn btn-secondary" href="{% url 'assets:list' %}">Volver</a>
    {% if object.owner_id == user.id or user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'assets:edit' object.pk %}">Editar</a>
      <a class="btn btn-danger" href="{% url 'assets:delete' object.pk %}">Eliminar</a>
    {% endif %}
  </div>
</div>
{% endblock %}